<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="Header">
        <property name="header" value="////////////////////////////////////////////////////////////////////\n// [Filippo] [Pinton] [1187361]\n////////////////////////////////////////////////////////////////////" />
    </module>


    <module name="FileLength">
        <property name="max" value="2000" />
    </module>

    <module name="FileTabCharacter" />

    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity">
            <property name="max" value="10" />
        </module>

        <module name="CyclomaticComplexity">
            <property name="max" value="30" />
            <property name="tokens" value="LITERAL_WHILE, LITERAL_DO" />
        </module>

        <module name="LineLength">
            <property name="max" value="250" />
        </module>

        <module name="MethodLength">
            <property name="tokens" value="METHOD_DEF" />
            <property name="max" value="100" />
            <property name="countEmpty" value="false" />
        </module>

        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore" />
        </module>

        <module name="AvoidStarImport" />

        <module name="IllegalImport">
            <property name="illegalPkgs" value="java.sql" />
        </module>

        <module name="NeedBraces" />

    </module>
</module> 